*{
    box-sizing: border-box;
    font-family: Roboto;
    /* border: 1px solid red; */
  }
  div.logo{
    width: 136px;
    height: 160px;
    margin-top: 37px;
    position: relative;
    display: inline-block;
  }
  div.logo > img{
    width: 100%;
    height: 100%;
  }
  div.top{
    margin:0 auto;
    width: 1200px;
  }
  body{
    margin: 0;
    padding: 0;
    background-color: rgb(242,238,238,1);
  }
  nav{
    position: relative;
    width:1200px;
    margin:0 auto;
  }
  ul.topnav{
    font-size: 0px;
    margin-top:40px;
    margin-left: 450px;
    padding: 0px;
    position: relative;
    display: inline-block;
    vertical-align: top;
  }
  ul.topnav > li{
    display: inline-block;
    font-size: 16px;
    list-style: none;
    margin-left:22px;
    margin-right:54px;
  }
  ul.topnav > li >a{
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
    line-height: 19px;
    padding-top:16px;
  
    padding-bottom:10px;
    color:black;
  }
  div.logo2{
    width: 139px;
    height: 160px;
    font-size: 16px;
    position: absolute;
    top:45px;
    right: 0px;
  }
  ul.topnav2{
    font-size: 0px;
    padding: 0;
  }
  ul.topnav2 > li{
    font-size: 16px;
    list-style: none;
  }
  ul.topnav2 > li > a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color:black;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-right:18px;
    padding-top:18px;
    padding-left:20px;
    padding-bottom:15px;
  }
  
  div.topnav2{
    width: 110px;
    height: 100px;
    background-color: rgb(196,196,196,24%);
    position: absolute;
    left:20px;
    top: 100%;
    display: none;
  }
  
  ul.topnav3{
    font-size: 0px;
    padding: 0;
  }
  ul.topnav3 > li{
    font-size: 16px;
    list-style: none;
  }
  ul.topnav3 > li > a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color:black;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-right:18px;
    padding-top:18px;
    padding-left:20px;
    padding-bottom:15px;
  }
  div.topnav3{
    width: 110px;
    height: 130px;
    background-color: rgb(196,196,196,24%);
    position: absolute;
    left:160px;
    top: 100%;
    display: none;
  }
  
  ul.topnav4{
    font-size: 0px;
    padding: 0;
  }
  ul.topnav4 > li{
    font-size: 16px;
    list-style: none;
  }
  ul.topnav4 > li > a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color:black;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-right:18px;
    padding-top:18px;
    padding-left:20px;
    padding-bottom:15px;
  }
  div.topnav4{
    width: 110px;
    height: 100px;
    background-color: rgb(196,196,196,24%);
    position: absolute;
    left:300px;
    top: 100%;
    display: none;
  }
  ul.topnav5{
    font-size: 0px;
    padding: 0;
  }
  ul.topnav5 > li{
    font-size: 16px;
    list-style: none;
  }
  ul.topnav5 > li > a{
    display: inline-block;
    text-decoration: none;
    font-size: 14px;
    line-height: 16px;
    color:black;
    text-align: center;
    width: 100%;
    height: 100%;
    padding-right:18px;
    padding-top:18px;
    padding-left:20px;
    padding-bottom:15px;
  }
  div.topnav5{
    width: 130px;
    height: 100px;
    background-color: rgb(196,196,196,24%);
    position: absolute;
    left:450px;
    top: 100%;
    display: none;
  }
  ul.topnav > li:hover div.topnav2{
    display: block;
  }
  ul.topnav > li:hover div.topnav3{
    display: block;
  }
  ul.topnav > li:hover div.topnav4{
    display: block;
  }
  ul.topnav > li:hover > div.topnav5{
    display: block;
  }
  
  ul.topnav2 > li:nth-child(1):hover::after {
    content: "";
    position: absolute;
    width:40%;
    height: 4px;
    top:40px;
    left: 31%;
    background-color: rgb(196,196,196,70%);
    border-radius: 50px;
  }
  ul.topnav2 > li:nth-child(2):hover::after {
    content: "";
    position: absolute;
    width:40%;
    height: 4px;
    bottom:10px;
    left: 31%;
    background-color: rgb(196,196,196,70%);
    border-radius: 50px;
  }
  ul.topnav3 > li:nth-child(1):hover::after {
    content: "";
    position: absolute;
    width:40%;
    height: 4px;
    top:50px;
    left: 31%;
    background-color: rgb(196,196,196,70%);
    border-radius: 50px;
  }
  ul.topnav3 > li:nth-child(2):hover::after {
    content: "";
    position: absolute;
    width:40%;
    height: 4px;
    bottom:10px;
    left: 31%;
    background-color: rgb(196,196,196,70%);
    border-radius: 50px;
  }
  ul.topnav4 > li:nth-child(1):hover::after {
    content: "";
    position: absolute;
    width:40%;
    height: 4px;
    top:40px;
    left: 31%;
    background-color: rgb(196,196,196,70%);
    border-radius: 50px;
  }
  ul.topnav4 > li:nth-child(2):hover::after {
    content: "";
    position: absolute;
    width:40%;
    height: 4px;
    bottom:10px;
    left: 31%;
    background-color: rgb(196,196,196,70%);
    border-radius: 50px;
  }
  ul.topnav5 > li:nth-child(1):hover::after {
    content: "";
    position: absolute;
    width:40%;
    height: 4px;
    top:40px;
    left: 31%;
    background-color: rgb(196,196,196,70%);
    border-radius: 50px;
  }
  ul.topnav5 > li:nth-child(2):hover::after {
    content: "";
    position: absolute;
    width:40%;
    height: 4px;
    bottom:10px;
    left: 31%;
    background-color: rgb(196,196,196,70%);
    border-radius: 50px;
  }
div.top1{
    display:inline-block;
    width:505px;
    height: 130px;
    margin-left: 58%;
    margin-top: 30px;
    margin-bottom:100px;
    background-color:rgb(196,196,196,1);
    white-space: nowrap;
}
  h1{
    margin: 0;
    text-align: right;
    font-size: 48px;
    padding: 10px;
  }
  div.button_area{
    max-width: 1200px;
    height: auto;
  }
  div.button_area1{
    width: 200px;
    margin: auto;
  }
  div.button_area1 > span{
    width:50px;
    display: inline-block;
  }
  span.go_right{
    margin-left: 96px;
  }
  div.button_area > img{
    width: 100%;
    height: 100%;
  } 
  @media screen and (max-width:768px){
    div.dhumburger{
      display: block !important;
      max-width: 100%;
      height: 60px;
      position: relative;
      margin: auto;
    }
    nav{
      display: none;
    }
    div.dhumburger>label > span{
      background-color: white;
      width: 40px;
      height: 40px;
      display: inline-block;
      position: absolute;
      right: 20px;
      top: 8px;
    }
    div.dhumburger > label >span::before{
      content: "";
      width: 70%;
      height: 3px;
      background-color: gray;
      position: absolute;
      top:0;
      bottom: 0;
      left:6px;
      margin: auto;
      box-shadow: 0px 9px 0px gray,
                  0px -9px 0px gray;
    }
    
    div.logo2{
      display: block;
      width:50px;
      height: 50px;
      left:10px;
      top:10px;
    }
    nav.nav2{
      width: 60%;
      display: block;
      min-height: 100vh;
      height: auto;
      margin:0px;
      position: absolute;
      top:60px;
      left:-100%;
      z-index: 3;
      background-color: rgb(196,196,196,90%);
      transition: .5s;
    }
    #humburger{
      display: none;
      opacity: 0;
    }
    ul.topnavm{
      display: block;
      padding-left: 0px;
      height: auto;
    }
    #humburger:checked ~ div.dhumburger nav.nav2{
      left:0px;
    }
    ul.topnavm > li{
      display: block;
      padding-bottom: 15px;
      padding-top:15px;
      padding-left: 10px;
      border-bottom: 1px solid black;
      text-decoration: none;
    }ul.topnavm > li:last-child{
      border-bottom: 0px;
    }
    ul.topnavm1{
      display: none;
    }
    ul.topnavm2{
      display:none;
    }
    ul.topnavm3{
      display: none;
    }
    ul.topnavm4{
      display: none;
    }
    ul.topnavm > li:first-child:hover ul.topnavm1{
      display: block;
    }
    ul.topnavm > li:nth-child(2):hover ul.topnavm2{
      display: block;
    }
    ul.topnavm > li:nth-child(3):hover ul.topnavm3{
      display: block;
    }
    ul.topnavm > li:nth-child(4):hover ul.topnavm4{
      display: block;
    }
    ul.topnavm1 > li{
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
  
    }
    ul.topnavm2 > li{
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
  
    }
    ul.topnavm3 > li{
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
  
    }
    ul.topnavm4 > li{
      padding-top: 10px;
      padding-bottom: 5px;
      border-bottom: 1px solid black;
    }
    ul.topnavm1 > li >a{
      text-decoration: none;
    }
    ul.topnavm2 > li >a{
      text-decoration: none;
    }
    ul.topnavm3 > li >a{
      text-decoration: none;
    }
    ul.topnavm4 > li >a{
      text-decoration: none;
    }
    li{
      list-style: none;
    }
    div.topnavm1{
      display:block;
    }
    div.logo{
      display: none;
    }
    ul.topnav{
      display: none;
    }
    div.top{
      width:720px;
      max-width: 100%;
    }
    div.top1{
      width: 50%;
      margin-left: 50%;
      height: auto;
    }
    div.content{
      width:720px;
      max-width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 1200px!important;
      min-width: 320px;
      padding-left: 20px;
      padding-right: 20px;
      margin-top: 0px!important;

     
    }
    div.content > div.d3{
      display: none;
    }
    div.content > div.d4{
      display: none;
    }

    div.content > div.d1{
    display: block;
      max-width:100%;
      margin-top: 50px;
      margin-left: 10px;
      margin-right:10px;
      flex-basis:content;
    }
    div.content > div.d1>div.b1{
      max-width: 100%;
      height: auto;
      }
      div.content > div.d2>div.b2{
        max-width: 100%;
        height: auto;
        }
    div.content > div.d2{
      display: block;
      max-width:100%;
      margin-top: 80px;
      margin-left: 10px;
      margin-right:10px;
      flex-basis:content;
    }
    p.bn1{
      position: relative !important;
      margin: 0 auto;
      display: block !important;
      max-width: 100%;
      transform: translateY(-80%);
      z-index: -10 !important;
    }
    p.bn2{
      position: relative !important;
      margin: 0 auto;
      display: block !important;
      max-width: 100%;
      transform: translateY(-80%);
      z-index: -10 !important;
    
    }
    div.button_area{
      max-width: 768px;
      height: auto;
      margin-top: 60px;
      margin-right: 30px;
      margin-left: 10px;
    }
    div.button_area1{
      width: 200px;
      margin-top: -50px;
    }
    div.button_area1 > span{
      width:50px;
      display: inline-block;
    }
    span.go_right{
      margin-left: 96px;
      cursor: pointer;
    }
    span.go_left{
      cursor: pointer;
    }
    div.button_area > img{
      width: 100%;
      height: 100%;
      cursor: pointer;
    } 
    footer{
      max-width: 100% !important;
      display: block;
      height: auto!important;
    }
   footer>p.pf1{
      display: block;
      position: static;
      right: 0px;
      bottom: 40px;
    }
    footer>p.pf2{
      display: block;
      position: static;
      right: 0px;
      bottom: -10px;
    }
    footer > div.copyright{
      position: static;
      display: block;
    }
    @media screen and (max-width:432px) {
      div.top1 > h1{
        font-size: 32px;
        
      }
    }
  }
