*{
    box-sizing: border-box;
}
div.content{
    width: 1200px;
    margin: 0 auto;
    margin-top:150px;
}
h2{
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}
h2:first-child{
    margin-left: 20px;
}
input{
    display: inline-block;
    width:50px;
    height: 35px;
    vertical-align: middle;
    font-size:18px;
}
div.time{
    display: inline-block;
    width: 470px;
    height: 65px;
    vertical-align: middle;
    margin-left: 728px;
    padding: 5px,5px,10px,5px;
    position: relative;
    background-color: rgb(196,196,196,41%);
    border-radius: 18px;
}

div.body2{
    border: 5px solid black;
    border-radius: 53px;
    width: 1160px;
    height: auto;
    margin: 0 auto;
    margin-top: 25px;
    position: relative;  
}
div.time>img{
    padding-left: 10px;
    cursor: pointer;
}
span.left_btn{
    display: inline-block;
    margin-left: 2%;
   
}
span.right_btn{
    display: inline-block;
    margin-right:2%;
}
div.body_content{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    flex-flow: row;
}
p.t1{
    /* border: 1px solid black; */
    border-radius: 20px;
    width: 940px;
    height: 40px;
    text-align: center;
    margin: 0 auto;
    margin-top: 45px;
    padding-top: 8px;
    font-size: 18px;
    font-weight: 800;
    background-color:rgb(196,196,196,1) ;
}
div.p1{
    display: inline-block;
    max-width: 100%;
    height: 300px;
    margin-left: 5%;
    margin-top: 3%;
    margin-right:5%;
    vertical-align: top;
    position: relative;
    flex:100 1 40%;
    
}
div.p2{
    display: inline-block;
    max-width: 100%;
    height: 300px;
    margin-left: 5%;
    margin-top: 3%;
    margin-right:5%;
    position: relative;
    flex: 100 1 40%;
}
div.p1_pic{
    width: 100%;
    height: 242px;
    border-radius: 18px;
    overflow: hidden;
}
div.p1_pic > img{
    width: 100%;
    height: 100%;
}
div.p2_pic{
    width: 100%;
    height: 242px;
    border-radius: 18px;
    overflow: hidden;
}
div.p2_pic > img{
    width: 100%;
    height: 100%;
}
p.name1{
    border-radius: 40px;
    display: inline-block;
    width: 225px;
    margin:0px;
    height: 90px;
    position: absolute;
    bottom:15px;
    text-align: center;
    padding-top:55px;
    z-index: -1;
    font-size:18px;
    font-weight: 700;
    background-color: rgb(196,196,196,1);
}
p.price1{
    display: inline-block;
    border-radius: 18px;
    font-size:18px;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    width: 121px;
    height: 50px;
    position: absolute;
    bottom:20px;
    right:20px;
    text-align: center;
    padding-top:20px;
    z-index: -1;
    background-color: rgb(196,196,196,1);
}
p.name2{
    display: inline-block;
    border-radius: 40px;
    width: 225px;
    margin:0px;
    height: 90px;
    position: absolute;
    bottom:15px;
    text-align: center;
    padding-top:55px;
    z-index: -1;
    font-size:18px;
    font-weight: 700;
    background-color: rgb(196,196,196,1);
}
p.price2{
    display: inline-block;
    border-radius: 18px;
    font-size:18px;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    width: 121px;
    height: 50px;
    position: absolute;
    bottom:20px;
    right:20px;
    text-align: center;
    padding-top:20px;
    z-index: -1;
    background-color: rgb(196,196,196,1);
}
p.line1{
    background-color: rgb(196,196,196,1);
    height: 3px;
}
div.form > h1{
    text-align: center;
    width: 630px;
    height: 88px;
    margin: 0 auto;
    font-size: 48px;
    background-color: rgb(196,196,196,1);
}
div.form{
    width: 1200px;
    margin: 0 auto;
    margin-top: 65px;
    position: relative;
}
div.form_right{
    display: inline-block;
    margin-left: 70px;
    width:409px;
    height: 230px;
    margin-top: 140px;
    vertical-align: top;
}
div.form_left{
    display: inline-block;
    margin-left: 228px;
    width:370px;
    height: 230px;
    margin-top: 140px;
}
div.form_left > p.uname,p.cellphone,p.e_mail{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
}
p.uname{
    position: relative;
}
input.uname{
    width: 150px;
    margin-right: 150px;
}
input.cellphone{
    width: 150px;
    margin-right: 150px;
}
input.e_mail{
    margin-right:0px;
    width:300px;
}
p.undere_mail{
    margin-left: 100px;
    font-size: 15px;
    font-weight: lighter;
    color: rgb(143,143,143,1);
    margin-top: 0px;
    padding-top:0px;
}
p.uname::before{
    content: "";
    position: absolute;
    width:126px;
    height: 365px;
    background-color: rgb(196,196,196,1);
    z-index: -1;
    top:-100px;
    right:0;
}
p.yourchoice{
    padding-left: 25px;
    font-size:18px;
    font-weight: 700;
}
div.uresult{
    width: 407px;
    height: 165px;
    padding: 14px;
    background-color: rgb(196,196,196,1);
}
p.time3{
    margin-top: 0;
    font-size:18px;
    font-weight: 700;
}
p.nresult{
    padding-left:120px ;
    font-size:18px;
    font-weight: 700;
    margin-top: 35px;
    
}
p.fee{
    padding-left:270px ;
    font-size:18px;
    font-weight: 700;
    margin-top: 25px;
    color:rgb(244,154,17,1) ;
}
div.remark{
    margin-top: 100px;
}
p.wordremark{
    text-align: center;
    font-size: 18px;
    font-weight: 700;
}
div.remark > textarea{
    width: 630px;
    height: 295px;
    margin-left:285px;
    border: 5px solid rgb(196,196,196,1);
}
div.agreement{
    margin: 0 auto;
    margin-top: 150px;
    width: 50%;
    height: auto;
    background-color: white;
    overflow-x:hidden;
    overflow-y:auto;
    padding: 10px;
    position: relative;
    max-width: 100%;
    border: 1px solid red;
}

div.agreement::-webkit-scrollbar{
    width: 8px;
    height: 8px;
    border-radius: 40px;
  }
  div.agreement::-webkit-scrollbar-track{
      background-color: white;
  }
  div.agreement::-webkit-scrollbar-thumb{
    background-color: rgb(196,196,196,1);
    border-radius: 40px;
}
pre{
    margin: 0;
    padding: 5% 5%;
    border: 1px solid red;
}
div.bcolor{
    border: 1px solid red;
    display: block;
    font-size: 16px;
    margin: 0 auto;
    max-width: 100%;
    z-index: -1;
    position: relative;
    transform: translateY(0%);
    height: 0;
}
span.bcolor{
    margin: auto;
    width: 60%;
    border-radius:47px ;
    background-color: rgb(196,196,196,1);
    border: 1px solid red;
    display: block;
    height: 500px;
    position: absolute;
    top:-450px;
    left:50%;
    transform: translateX(-50%);

    
}
button.btn{
    border-radius: 43px;
    margin-top: 100px;
    width:150px;
    height: 50px;
    font-size: 18px;
    font-weight: 700;
    color: white;
    background-color: black;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-bottom: 50px;
    cursor: pointer;
}

@media screen and (max-width:1200px){
    header >div.top{
        width: 920px;
    }
    form{
        max-width: 100%;
    }
    ul.topnav{
        margin-left: 150px;
    }
    div.top1{
        margin-left: 410px;
    }
    div.body2{
        width: auto;
    }
    div.p1 > div.p1_pic{
        width: 100%;
        
    }
    div.p1{
        margin-left:10px;
        margin-right: 5px;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    div.p2{
        margin-right:10px;
        margin-left:5px;
        width: 100%;
        height: auto;
        margin-top: 50px;
    }
    div.p2_pic{
        /* height: auto; */
        width: 100%;
        /* max-width: 100%; */
       

    }
    div.form{
        display:block;
        margin: auto;
        width: auto;
        max-width: 100%;
        width: auto;
    }
    footer{
        display:block;
        margin: auto;
        width: auto;
        max-width: 100%;
    }
    div.time{
        max-width:100%;
       
        display: flex;
        justify-content: center;
        align-items: center;
    }
    div.body2 > p.t1{
        max-width: 90%;
    }
    div.body_content{
        display: flex;
        justify-content:center;
        max-width: 100%;
    }
    div.content{
        width: 90%;
    }
    div.p1_pic{
        width: 100%;
        height: auto;
        z-index: 1;
    }
    div.p1_pic > img{
        vertical-align: top;
    }
    div.p2_pic{
        width: 100%;
        height: auto;
    }
    div.text1{
        display: block;
        height: auto;
        z-index: -2;
        overflow: hidden;
    }
    div.text1 > p{
        position: static;
        
        height: auto;
        display: inline-block;
        z-index: -2;
        /* white-space: nowrap; */
        font-size: 1rem;    
        padding-bottom: 5px;         
    }
    p.price1{
        margin-left: 5%;
        width: 30%;
        transform: translateY(-40px);
    }
    p.name1{
        width:55%;
        margin-left: 5%;
        transform: translateY(-50px);
    }
    div.p2_pic{
        width: 100%;
        height: auto;
        z-index: 1;
    }
    div.p2_pic > img{
        vertical-align: top;
    }
    div.text2{
        display: block;
        height: auto;
        z-index: -2;
        overflow: hidden;
    }
    div.text2 > p{
        position: static;
        
        height: auto;
        display: inline-block;
        z-index: -2;
        /* white-space: nowrap; */
        font-size: 1rem;    
        padding-bottom: 5px;         
    }
    p.price2{
        margin-left: 5%;
        width: 30%;
        transform: translateY(-40px);
    }
    p.name2{
        width:55%;
        margin-left: 5%;
        transform: translateY(-50px);
    }
    div.form_left{
        display:block;
        margin: auto;
        margin-top: 200px;
        max-width: 100%;
    }
    div.form_right{
        display:block;
        margin: auto;
        margin-top: 120px;
        max-width: 100%;
    }
    p.fee{
        padding: 0;
        text-align: right;
    }
    p.nresult{
        text-align: center;
        padding: 0;
    }
    div.uresult{
        width: auto;
    }
    div.top{
        max-width: 100%;
    }
    div.top1{
        max-width: 100%;
        margin: 0 auto;
        margin-left: 45%;
     }
    h1{
        max-width:100% ;
    }
    div.time{
        max-width: 100%;
        margin-left: 0;
    } 
    div.timetop{
        display: flex;
        justify-content: right;
    }
    button.btn{
        margin-top: 80px;
    }
    textarea{
        max-width: 100%;
        margin-left: 0px!important;
    }
    div.remark{
        margin: auto;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    div.bcolor{
        transform: translateY(0%);
        height: 0;
    }
    span.bcolor{
        height: 500px;
        position: absolute;
        top:-450px;
        left:50%;
        transform: translateX(-50%);
    }
    
    }
   

@media screen and (max-width:900px){
    ul.topnav{
        margin-left: 100px;
    }
@media screen and (max-width:850px){
    div.dhumburger{
        display: block !important;
        max-width: 100%;
        height: 70px;
        position: relative;
        margin: auto;
      }
      nav{
        display: none;
      }
      div.dhumburger>label > span{
        background-color: white;
        width: 40px;
        height: 40px;
        display: inline-block;
        position: absolute;
        right: 20px;
        top: 18px;
      }
      div.dhumburger > label >span::before{
        content: "";
        width: 70%;
        height: 3px;
        background-color: gray;
        position: absolute;
        top:0;
        bottom: 0;
        left:6px;
        margin: auto;
        box-shadow: 0px 9px 0px gray,
                    0px -9px 0px gray;
      }
      
      div.logo2{
        display: block;
        width:50px;
        height: 50px;
        left:20px;
        top:10px;
      }
      nav.nav2{
        width: 60%;
        display: block;
        min-height: 100vh;
        height: auto;
        margin:0px;
        position: absolute;
        top:60px;
        left:-100%;
        z-index: 3;
        background-color: rgb(196,196,196,90%);
        transition: .5s;
      }
      #humburger{
        display: none;
        opacity: 0;
      }
      ul.topnavm{
        display: block;
        padding-left: 0px;
        height: auto;
      }
      #humburger:checked ~ div.dhumburger nav.nav2{
        left:0px;
      }
      ul.topnavm > li{
        display: block;
        padding-bottom: 15px;
        padding-top:15px;
        padding-left: 10px;
        border-bottom: 1px solid black;
        text-decoration: none;
      }ul.topnavm > li:last-child{
        border-bottom: 0px;
      }
      ul.topnavm1{
        display: none;
      }
      ul.topnavm2{
        display:none;
      }
      ul.topnavm3{
        display: none;
      }
      ul.topnavm4{
        display: none;
      }
      ul.topnavm > li:first-child:hover ul.topnavm1{
        display: block;
      }
      ul.topnavm > li:nth-child(2):hover ul.topnavm2{
        display: block;
      }
      ul.topnavm > li:nth-child(3):hover ul.topnavm3{
        display: block;
      }
      ul.topnavm > li:nth-child(4):hover ul.topnavm4{
        display: block;
      }
      ul.topnavm1 > li{
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    
      }
      ul.topnavm2 > li{
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    
      }
      ul.topnavm3 > li{
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
    
      }
      ul.topnavm4 > li{
        padding-top: 10px;
        padding-bottom: 5px;
        border-bottom: 1px solid black;
      }
      ul.topnavm1 > li >a{
        text-decoration: none;
      }
      ul.topnavm2 > li >a{
        text-decoration: none;
      }
      ul.topnavm3 > li >a{
        text-decoration: none;
      }
      ul.topnavm4 > li >a{
        text-decoration: none;
      }
      li{
        list-style: none;
      }
      div.topnavm1{
        display:block;
      }
      div.logo{
        display: none;
      }
      ul.topnav{
        display: none;
      }
      div.top{
          margin-top: 100px;
      }
      nav.nav2{
          top:80px;
      }
      footer{
        max-width: 100% !important;
        /* max-width: 960px; */
        display: block;
        height: auto!important;
      }
     footer>p.pf1{
        display: block;
        position: static;
        right: 0px;
        bottom: 40px;
      }
      footer>p.pf2{
        display: block;
        position: static;
        right: 0px;
        bottom: -10px;
      }
      footer > div.copyright{
        position: static;
        display: block;
      }
    
}
@media screen and (max-width:500px) {
        div.time > h2{
            font-size:18px ;
        }
        div.time > input{
            width: 40px;
            height: auto;
        }
        p.name1{
            font-size: 10px!important;
            border-radius: 15px;
        }
        p.price1{
            font-size: 10px!important;
            border-radius: 15px;
        }
        p.name2{
            font-size: 10px!important;
            border-radius: 15px;
        }
        p.price2{
            font-size: 10px!important;
            border-radius: 15px;
        }
        div.body_content{
            flex-direction: column;
        }
        div.p1{
            width: 80%;
        }
        div.p2{
            width: 80%;
        }
        span.left_btn{
            width: 10%;
            order: 3;
            transform: translate(-200%,0%);
        }
        span.right_btn{
            width: 10%;
            order: 4;
            transform: translate(200%,-100%);
        }
        
}